/*  `´nb@NB${}[]\|| */

/*** Theme ***/

:root {
  /* color definitions */
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(0, 0%, 87%);
  --clr-neutral-300: hsl(0, 0%, 57%);
  --clr-neutral-400: hsl(0, 0%, 27%);
  --clr-neutral-800: hsl(0, 0%, 17%);
  --clr-neutral-900: hsl(0, 0%, 12%);

  --clr-green-100: hsl(169, 11%, 93%);
  --clr-green-200: hsl(169, 51%, 58%);
  --clr-green-400: hsl(169, 86%, 28%);
  --clr-green-800: hsl(169, 86%, 12%);
  --clr-green-900: hsl(169, 80%, 12%);

  --clr-robust: hsl(221, 63%, 32%);
  --clr-green: hsl(110, 63%, 32%);
  --clr-flower: hsl(2, 92%, 33%);
  --clr-colorful: hsl(303, 55%, 47%);
  --clr-sunloving: hsl(27, 88%, 33%);
  --clr-air: hsl(180, 84%, 27%);
  --clr-decorative: hsl(278, 79%, 40%);
  --clr-edible: hsl(68, 61%, 30%);
  --clr-easy: hsl(224, 86%, 58%);
  --clr-fragrant: hsl(327, 51%, 47%);
  --clr-fast: hsl(218, 11%, 34%);

  /* font weights definitions */
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;

  /* Font sizes definitions */
  --fs-100: 0.625rem;
  --fs-200: 0.75rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;
  --fs-800: 2.5rem;
  --fs-900: 3rem;

  /*** Theme setup ***/

  /* font family */
  --font-base: "Open Sans", "Segoe UI", Tahoma, sans-serif;
  /* --font-base: "Open Sans", "Segoe UI", Tahoma, sans-serif; */

  /* theme color assignments */
  --clr-accent: var(--clr-green-400);
  --clr-accent-light-1: var(--clr-green-100);

  --clr-primary-light-1: var(--clr-neutral-100);
  --clr-primary-light-2: var(--clr-neutral-200);
  --clr-primary-light-3: var(--clr-neutral-300);

  --clr-primary: var(--clr-neutral-400);
  --clr-primary-dark: var(--clr-neutral-800);

  /* Font weights assignments */
  --fw-regular: var(--fw-400);
  --fw-medium: var(--fw-500);
  --fw-semi-bold: var(--fw-600);
  --fw-bold: var(--fw-700);
  --fw-x-bold: var(--fw-900);

  /* Border shadow */
  --border-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  /* Spacing */
  --spacing-base: 1rem;

  --flow-space: 1.75em;
  --flow-space-lg: 4em;
}

/*** Reset ***/
/* This is from Kevin Powell, edit to your liking */

/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/*** s'Skiplink ***/

a.skiplink {
  display: inline-block;
  color: #555;
  background: #fff;
  padding: 0.5em;
  position: absolute;
  left: -99999rem;
  z-index: 100;
}
a.skiplink:focus {
  left: 0;
}

/* dark mode user-agent-styles */
html {
  color-scheme: dark light;
}

/* min body height */
body {
  min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* make headings wrap better */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
  /* max-width: 55ch; */
}

/* for container queries, landmarks as containers */
body > :is(header, footer),
main {
  container-type: inline-size;
}

/* remove list style but keep it as list for Safari browser - use with <ul role="list"> */
[role="list"] {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*** Global/base ***/
h1,
h2,
h3 {
  font-weight: var(--fw-bold);
  line-height: 1;
}

h1,
h2 {
  font-size: var(--fs-700);
}

h3 {
  font-size: var(--fs-600);
  font-weight: var(--fw-semi-bold);
}

a {
  text-decoration: none;
  color: var(--clr-accent);

  &:hover,
  &:focus-visible {
    text-decoration: underline;
  }
}

body {
  font-family: var(--font-base);
  background-color: var(--clr-accent-light-1);
  color: var(--clr-primary-dark);
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
}

/*** Composition ***/
.flow > * + * {
  margin-block-start: var(--flow-space);
}

.flow-lg > * + * {
  margin-block-start: var(--flow-space-lg);
}

/*
See these for more info:
https://www.youtube.com/watch?v=c13gpBrnGEw
https://www.youtube.com/watch?v=cf-J4ffMBfo
*/
.content-grid,
.fullwidth {
  --_content-width: 70rem;
  --_min-margin-width: 1rem;

  display: grid;
  grid-template-columns:
    [fullwidth-start] minmax(var(--_min-margin-width), 1fr) [content-start] min(
      100% - var(--_min-margin-width) * 2,
      var(--_content-width)
    )
    [content-end] minmax(var(--_min-margin-width), 1fr) [fullwidth-end];
  /*  grid-template-rows: [fullwidth-start] auto [fullwidth-end];*/
}

/* keep the content of the content-grid and fullwidth inside the content container */
.content-grid > *,
.fullwidth > * {
  grid-column: content;
}

/* a bit more complex but more fancy/explicit version of above */
/*.content-grid > :not(.fullwidth),
.fullwidth > :not(.fullwidth) {
  grid-column: content;
}*/

/* if we have a fullwidth inside of a content-grid put this in the fullwidth container */
.content-grid > .fullwidth {
  grid-column: fullwidth;
}

/*** Utilities ***/

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/*** Header/Menu ***/

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 0rem;
}

nav a:hover {
  transition: all 0.2s ease-in-out;
}

nav figure {
  max-width: 2.5em;
  max-height: 2.5em;
  margin-top: 0.3rem;
  margin-bottom: 0.1rem;
}

figure {
  display: flex;
  flex-direction: column;
}

figure img {
}

figure img:hover {
  color: var(--clr-green-200);
}

svg {
}

.shape-box {
}

a p {
  margin-left: 1em;
  word-break: break-word;
}

.brand {
}

.logo {
  margin-top: 0.1rem;
  max-width: 6.5rem;
  word-break: break-word;
}

nav a {
  display: flex;
  flex-direction: row;
  margin-left: 0em;
  text-transform: uppercase;
  font-weight: var(--fw-semi-bold);
}

nav a:hover {
  text-decoration: none;
  color: var(--clr-green-200);
}

menu {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: start;
  margin-right: 0rem;
  margin-top: 0.4rem;
}

@media (min-width: 1em) and (max-width: 42em) {
  .menu {
    /* display: none; */
  }
}

.hamburger-menu {
  display: none;
}

.hamburger-close {
  display: none;
}

@media (min-width: 1em) and (max-width: 42em) {
  .hamburger-menu {
    display: inline-block;
  }
  .hamburger-menu:hover {
    display: none;
  }
  .hamburger-close:hover {
    display: inline-block;
  }
}

menu a {
  margin-left: 1em;
  margin-right: 1em;
  text-transform: uppercase;
  font-weight: var(--fw-semi-bold);
  font-size: var(--fs-200);
  text-decoration: none;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

menu a:hover {
  color: var(--clr-primary-light-1);
  background-color: var(--clr-green-400);
  text-decoration: none;
}

header {
  min-height: 3rem;
}

.menu {
  background-color: var(--clr-primary-light-1);
  height: 3rem;
  min-height: 3rem;
}

section {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

article > * {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 36rem;
}

section article h1,
section article p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 36rem;
}

article {
}

article h1 {
  margin-top: 4rem;
}

p {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.hero-text {
  margin: 0rem;
  padding: 0rem;
}

.hero-container {
  display: flex;
  width: 43rem;
  max-width: 43rem;
  max-height: 22.1rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0.6rem;
  background-color: var(--clr-neutral-100);
  box-shadow: var(--border-shadow);
}

.grid-container > #hero-card-1 {
  grid-area: heroCard1;
}

.grid-container > #hero-card-2 {
  grid-area: heroCard2;
}

.grid-container > #hero-card-3 {
  grid-area: heroCard3;
}

.grid-container > #hero-card-4 {
  grid-area: heroCard4;
}

.grid-container > #hero-card-5 {
  grid-area: heroCard5;
}

.grid-container > #hero-card-6 {
  grid-area: heroCard6;
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(6, 2fr);
  grid-template-areas:
    "heroCard1 heroCard1 heroCard2 heroCard3 heroCard4 heroCard4"
    "heroCard1 heroCard1 heroCard5 heroCard5 heroCard6 heroCard6";
  grid-gap: 0rem;
  margin: 0rem;
  padding: 0rem;
}

@media (min-width: 1em) and (max-width: 42em) {
  .grid-container {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "heroCard1 heroCard2"
      "heroCard3 heroCard4"
      "heroCard5 heroCard6";
  }
}

@media (min-width: 42em) and (max-width: 62em) {
  .grid-container {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
      "heroCard1 heroCard2 heroCard3"
      "heroCard4 heroCard5 heroCard6";
  }
}

@media (min-width: 62em) and (max-width: 80em) {
  .grid-container {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "heroCard1 heroCard2 heroCard3"
      "heroCard4 heroCard5 heroCard6";
  }
}

.hero-card {
  margin: 0rem;
  padding: 0rem;
}

.hero {
  margin: 0rem;
  padding: 0rem;
}

.hero-img {
  margin: 0rem;
  padding: 0rem;
}

.img {
  margin: 0rem;
  padding: 0rem;
}

.first-banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-left: -8rem;
  padding: 0rem;
  max-height: 16rem;
  max-height: 20rem;
  background-color: var(--clr-primary-light-1);
}

@media (min-width: 1em) and (max-width: 42em) {
  .first-banner {
    flex-direction: column-reverse;
  }
}

.first-banner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0rem;
  padding: 10rem;
  height: 16rem;
  width: 35rem;
}

.last-banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0rem;
  height: 18rem;
  width: 94.4rem;
  margin-left: 8rem;
  padding-bottom: 4rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: var(--clr-primary-dark);
  background-color: var(--clr-primary-light-1);
}

@media (min-width: 1em) and (max-width: 42em) {
  .last-banner {
    flex-direction: column;
  }
}

.last-banner-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0rem;
  height: 26rem;
  max-height: 28rem;
  padding-right: 2rem;
  width: 14.4rem;
}

.last-banner-text-container {
  width: 24.1rem;
}

.last-input-button-container {
  padding: 0rem;
  margin-top: 0.5rem;
  display: flex;
  justify-content: end;
}

form {
  width: 22rem;
}

.input {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0rem;
  padding: 0rem;
}

.button-test {
  border-radius: 3rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0rem;
  padding: 0.1rem;
  color: var(--clr-neutral-100);
  background-color: var(--clr-green-400);
}

.button {
  color: var(--clr-accent-light-1);
  background-color: var(--clr-green-400);
  border: none;
  font-size: var(--fs-400);
  font-weight: var(--fw-500);
  padding: 0.37rem 0.97rem;
  cursor: pointer;
  border-radius: 5rem;
}

.input-button-container {
  display: flex;
  align-items: center;
  padding: 1rem;
}

input[type="email"] {
  padding: 0.5rem 6rem 0.5rem 4rem;
  border-radius: 5rem;
  flex: 1;
  margin-right: -5.1rem;
  border: 2px solid var(--clr-neutral-300);
}

button {
  background-color: var(--clr-green-400);
  color: var(--clr-accent-light-1);
  border: none;
  font-size: var(--fs-400);
  font-weight: var(--fw-500);
  padding: 0.37rem 0.97rem;
  cursor: pointer;
  border-radius: 5rem;
}

button:hover {
  background-color: var(--clr-neutral-100);
  color: var(--clr-green-400);
  box-shadow: var(--border-shadow);
  transition: all 0.1s ease-in-out;
}

.first-icon-container {
  background-color: var(--clr-green-400);
  height: 11rem;
  width: 11rem;
  border-radius: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -4rem;
}

.last-icon-container {
  background-color: var(--clr-green-400);
  height: 11rem;
  width: 11rem;
  border-radius: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.icon-img {
  height: 5.5rem;
  width: 5.5rem;
}

/* desktop: 1024px mobile: 100px */

.main-container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: auto;
  background-color: var(--clr-green-700);
}

.grid-main-container {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: row;
  background-color: var(--clr-green-600);
  height: auto;
  grid-gap: 0.7rem;
}

@media (min-width: 1em) and (max-width: 42em) {
  .grid-main-container {
    gap: 0.4rem;
    margin-left: 2rem;
    margin-right: 2rem;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 42em) and (max-width: 62em) {
  .grid-main-container {
    gap: 0.6rem;
    margin-left: 2rem;
    margin-right: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 62em) and (max-width: 80em) {
  .grid-main-container {
    gap: 0.8rem;
    margin-left: 2rem;
    margin-right: 2rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 35rem;
  max-width: 12.6rem;
  max-height: 35.1rem;
  background-color: var(--clr-primary-light-1);
  box-shadow: var(--border-shadow);
}

.card {
  display: flex;
  height: 34rem;
  flex-direction: column;
  width: 12.6rem;
  max-width: 12.6rem;
  align-items: center;
  justify-content: start;
}

.card main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 24rem;
  width: 12.1rem;
  max-width: 12.6rem;
}

.card footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.card-main {
}

.img-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 12.6rem;
  max-width: 12.6rem;
  height: 11.5rem;
  max-height: 12.6rem;
}

.tag-container {
  margin-top: 1rem;
  margin-left: 0.2rem;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  min-width: 10.6rem;
  max-width: 12.6rem;
  min-height: 3.6rem;
  max-height: 7.6rem;

  .tag {
    margin: 0.1rem;
    border-radius: 3rem;
    padding: 0.3rem 1rem 0.3rem 1rem;
    text-transform: uppercase;
    color: var(--clr-primary-light-1);
    font-size: var(--fs-100);
    font-weight: var(--fw-700);
  }
  a:hover {
    text-decoration: none;
    transform: scale(102%);
    transition: all 0.1s ease-in-out;
    filter: opacity(85%);
    color: var(--clr-neutral-900);
  }
  .flower {
    background-color: var(--clr-flower);
  }
  .edible {
    background-color: var(--clr-edible);
  }
  .green {
    background-color: var(--clr-green);
  }
  .sunloving {
    background-color: var(--clr-sunloving);
  }
  .easy {
    background-color: var(--clr-easy);
  }
  .decorative {
    background-color: var(--clr-decorative);
  }
  .colorful {
    background-color: var(--clr-colorful);
  }
  .robust {
    background-color: var(--clr-robust);
  }
  .fast {
    background-color: var(--clr-fast);
  }
  .air {
    background-color: var(--clr-air);
  }
}

.card-title {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  min-width: 11.6rem;
  font-size: var(--fs-500);
  font-weight: var(--fw-700);
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.card-title a {
  color: var(--clr-primary-dark);
}

.card-title a:hover {
  color: var(--clr-primary-light-3);
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}

.description-container {
  margin-top: 0;
  margin-left: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-container {
  height: 6rem;
  width: 12rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: end;
  color: var(--clr-primary-dark);
  background-color: var(--clr-primary-light-1);
}

.avatar-container {
  background-color: var(--clr-neutral-200);
  border: 2px solid var(--clr-neutral-400);
  width: 2.3rem;
  height: 2.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 5rem;
  object-fit: cover;
}

.avatar-icon-container {
  margin-bottom: -0.3rem;
  padding: 0;
  margin-top: 0.11rem;
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
}

.user-name-container {
  display: flex;
  flex-direction: column;
  margin-top: 0.1rem;
  margin-left: 1rem;
  justify-content: start;
  align-items: start;
}

.user-name {
  font-size: var(--fs-300);
}

.user-name a:hover {
  color: var(--clr-green-200);
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}

.publish-date {
  font-size: var(--fs-200);
}

main {
  height: 10rem;
  display: flex;
  height: 12rem;
  flex-direction: row;
  justify-content: start;
}

main section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 37rem;
  margin-left: 18rem;
  color: var(--clr-primary-light-1);
}

main section h3 {
  font-weight: var(--fw-700);
  margin: 2rem 0 1rem 0;
}

main section p {
  color: var(--clr-primary-light-2);
  font-size: var(--fs-200);
  font-weight: var(--fw-400);
  margin: 0.05rem 0 0.9rem 0;
}

main section div {
  font-size: var(--fs-200);
  font-weight: var(--fw-400);
  margin: 0.05rem 0 0.05rem 0;
}

main address {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin: 0.01rem 0 1.01rem 0;
  color: var(--clr-primary-light-1);
  width: 15rem;
}

main address div,
main address div > * {
  display: flex;
  flex-direction: row;
  color: var(--clr-primary-light-1);
  font-size: var(--fs-200);
  font-weight: var(--fw-700);
}

main address div a:hover {
  text-decoration: none;
  color: var(--clr-green-400);
  background-color: var(--clr-primary-light-1);
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}

main nav {
  margin-left: 6rem;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  line-height: normal;
}

main nav menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  font-size: var(--fs-200);
  font-weight: var(--fw-700);
  margin: 0rem;
  padding: 0rem;
}

@media (min-width: 1em) and (max-width: 42em) {
  .menu nav menu {
    display: none;
  }
}
footer nav a {
  padding: 0.5rem;
  margin: 0;
  text-transform: none;
  color: var(--clr-primary-light-2);
  background-color: var(--clr-green-400);
}

footer nav a:hover {
  padding: 0.5rem;
  margin: 0;
  color: var(--clr-green-400);
  background-color: var(--clr-primary-light-1);
  transition: all 0.2s ease-in-out;
}

footer {
  height: 12rem;
  display: flex;
  flex-direction: column;
  color: var(--clr-primary-light-1);
  background-color: var(--clr-green-400);
}

.card footer {
  background-color: inherit;
}

menu a {
}

a {
}

/*  `´nb@NB${}[]\|| */
